<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Ng Upgrade Demo
    body
        container

        script(src="/static/angularjs-bundle.js")
        script(src="/static/inline.bundle.js", type="text/javascript")
        script(src="/static/polyfills.bundle.js", type="text/javascript")
        script(src="/static/vendor.bundle.js", type="text/javascript")
        script(src="/static/main.bundle.js", type="text/javascript")